.container-header {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: 70px;


  .logo {
    width: 700px;
    height: 300px;
  }
}

.characters {
  width: 100%;
  // height: 60px;
  display: flex;
  justify-content: center;
  margin-top: 30px;


  .number {
    padding: 20px;
    width: 65%;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #A6E3E9;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding-left: 15px;
  }
}


.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}


.container {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  .cont-cards {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.card {
  width: calc(100% / 5 - 10px);
  margin: 5px;
  margin-bottom: 50px;
  background-color: #7895B2;
  border-radius: 5px;

  img {
    height: 180px;
    width: 100%;
    border-radius: 5px;
  }

  .text {
    text-align: center;

    .name,
    .status,
    .species {
      font-size: 18px;
      margin-bottom: 5px;
    }

    .name {
      color: white;
    }

    .status,
    .species {
      color: #C9D6DF;
    }
  }



}